html{
	width:100%;
	background: url(../img/table.jpg) no-repeat center center fixed; 
	background-size: cover;
	margin: 0;
}

.calc{
	min-width: 425px;
	min-height: 400px;
 	position: absolute; 
  	top: 50%;
  	left: 50%;
  	margin-top: -150px;
  	margin-left: -300px;
  	-webkit-box-shadow: 26px 10px 5px -1px rgba(0,0,0,0.64);
	-moz-box-shadow: 26px 10px 5px -1px rgba(0,0,0,0.64);
	box-shadow: 26px 10px 5px -1px rgba(0,0,0,0.64);
}

.calc img{
	height: 100%;
	width: 100%;
	position:absolute;
	z-index: -9999;
}

.buts , .screen{
	position: absolute;
	z-index: 10;
	width: 98%;	
}

.buts{
	height: 10%;
}

.buts div{
	width:10%;
	position: absolute;
}
.screen{
	margin-top: 41px;
	height:58px;
	width:86%;
	margin-left: 29px;
}

.digits{
	height: 54px;
	width: 99%;
	font-size: 46px;
}


.row1{
	margin-top: 30%;
}

.row2{
	margin-top: 42%;
}

.row3{
	margin-top: 54%;
}

.row4{
	margin-top: 66%;
}

.row5{
	margin-top: 78%;
}

.but1{
	margin-left: 31px;
	height:100%;
}

.but2{
	margin-left: 106px;
	height:100%;
}

.but3{
	margin-left: 163px;
	height:100%;
}

.but4{
	margin-left: 221px;
	height:100%;
}

.but5{
	margin-left: 296px;
	height:100%;
}

.but6{
	margin-left: 355px;
	height:100%;
}

.row5 .but5, .row5 .but6{
	height: 207%;
    bottom: 0px;
}


.row1 .but5,.row1 .but6,.row2 .but6{
	background-color: #6D6E71;
	color: white;
	text-align: center;
	font-style: bold;
	font-size: 24px;
}

.row1 .but5 p,.row1 .but6 p,.row2 .but6 p{
	bottom: 22px;
    position: relative;
}

.row5 .but1{
	width:14%;
}


